.hero{
    display: flex;
    align-items: center;
    flex-direction:column ;
    gap: 35px;
    color: rgb(15, 12, 12);
    
}
.hero img{
    margin-top: 15px;
    width: 300px;
    
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
}
.hero h1 span{
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: cenetr;
    gap: 25px;
    font-size:24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(-180deg, #d4c0c6, #c08282);

    cursor: pointer;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 40px;
    background: linear-gradient(-180deg, #d4c0c6, #c08282);
   border:2px solid linear-gradient(-180deg, #d4c0c6, #c08282);
    cursor: pointer;
}
.hero-connect:hover{
  border: 2px solid rgb(188, 146, 146);
}
.hero-resume:hover{
    border-color: #e597a2;
}