.skills-section {
    text-align: center;
    padding: 50px 20px;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #e1cfcf;
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.skills-box {
    background: linear-gradient(270deg, #E0E0E0, #B0B0B0, #808080);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skills-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #121111;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


.skills-list span {
    background: radial-gradient(270deg, #d4c0c6, #ad7070);
    color: rgb(12, 1, 1);
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center; /* Centers the text inside the span */
    align-items: center; /* Ensures vertical alignment of text */
    width: 100%; /* Ensures each skill takes full available width in a row */
    max-width: 150px; /* Adds max-width for better responsiveness */
    text-align: center; /* Centers text inside */
}
.skills-list img {
    width: 40px; /* Controls the width of the SVG */
    height: 40px; /* Controls the height of the SVG */
    object-fit: contain; /* Ensures the SVG stays within bounds */
    max-width: 100%; /* Prevents the image from overflowing */
    max-height: 100%; /* Prevents the image from overflowing */
    filter: grayscale(1);
}
