.contact-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
background: linear-gradient(-180deg, #d4c0c6, #c08282);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .contact-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-weight: bold;
    margin: 10px 0 5px;
    text-align: left;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ea9595;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    height: 100px;
    resize: none;
  }
  
  .contact-form button {
    background: linear-gradient(-180deg, #d4c0c6, #c08282);
    color: rgb(4, 4, 4);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .contact-form button:hover {
    background: #d9e2eb;
  }
  