.contact-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(270deg, #E0E0E0, #B0B0B0, #808080);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .contact-container h2 {
    margin-bottom: 20px;
    color: #0b0101;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-weight: bold;
    margin: 10px 0 5px;
    text-align: left;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ebdfdf;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    height: 100px;
    resize: none;
  }
  
  .contact-form button {
    background: white;
    color: rgb(4, 4, 4);
    border: black solid 2px;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .contact-form button:hover {
    background: #d9e2eb;
  }
  