.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 120px;
    gap: 20px;
}

a{
    color: rgb(231, 206, 206);
    text-decoration: none;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    color: black;
}

.nav-connect{
    padding: 25px 40px;
    border-radius: 60px;
    background: linear-gradient(270deg, #E0E0E0, #B0B0B0, #808080);
    /* background: linear-gradient(90deg, #ff00ff, #ff6600, #ffff00); */

    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}
.navbar img{
    width: 70px;
    height: auto;
    filter: invert();
}