.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 120px;
    gap: 20px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    color: black;
}

.nav-connect{
    padding: 25px 40px;
    border-radius: 60px;
    /* background: linear-gradient(270deg, #dcb19b, #8c5d47); */
    background: linear-gradient(270deg, #d4c0c6, #c08282);

    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}
.navbar img{
    width: 70px;
    height: auto;
}