
.app-container{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #090100; /* Change this to your desired background color */
    z-index: -2; /* Ensure this is behind the animation */
}
